{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <img src="{{#if avatar_url}}{{avatar_url}}{{else}}/avatar/{{username}}{{/if}}" 
            alt="User {{username}}" 
            class="header-avatar">
        <!-- the user's avatar -->
    </div>
    <div class="post-content preserve-newlines">
        <!-- the post -->
        <h1>{{title}}</h1>
        <section>{{content}}</section>
        <div class="post-status-bar">
            <div class="interaction-section" style="display: flex; flex-direction: row; align-items:center">
                {{#ifCond username user.username}}
                    <a onclick="handleDeleteClick({{id}})"><i class="fas fa-trash-alt"></i></a>
                {{else}}
                    <a onclick="handleLikeClick({{id}})">♥</a>
                {{/ifCond}}
                <p>{{likes}} likes</p>
            </div>
            <p>posted by {{username}} on {{timestamp}}</p>
            <!-- everything that is shown in the status bar -->
            <!-- Heart = ♥ -->
            <!-- font awesome  trashcan = <i class="fas fa-trash-alt"> </i>-->
        </div>        
    </div>
</div>

<script>
    function handleLikeClick(id) {
        console.log(id);
        fetch('/like/' + id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        }) .then(response => {
        if (response.ok) {
            // If the request was successful, reload the page
            window.location.reload();
        } else {
            console.error('Error:', response.statusText);
        }
        }).catch(error => {
            console.error('Error:', error);
        });
    }

    function handleDeleteClick(id) {
        fetch('/delete/' + id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        }) .then(response => {
        if (response.ok) {
            // If the request was successful, reload the page
            window.location.reload();
        } else {
            console.error('Error:', response.statusText);
        }
        }).catch(error => {
            console.error('Error:', error);
        });
    }    
</script>
