{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar">
        <img src="/avatar/{{user.username}}" 
            alt="User {{user.username}}" 
            class="header-avatar">
    </div>
    
    <section class="profile-info">
        <!-- user profile info -->
        <h1>User Profile</h1>
        <p><strong>Username: </strong> {{user.username}}</p>
        <p><strong>Member since: </strong>{{user.memberSince}}</p>
        <section class="profile-actions">
            <form action="/deleteAccount" method="POST" onsubmit="confirmDeletion(event)"> 
                <button type="submit" style="background-color: red; border-radius: 10px">Delete Account</button>
            </form>
            <title>New Username:</title>
            {{#if regError}}
                <p style="color: red;">{{regError}}</p>
            {{/if}}
            <form action="/updateUsername" method="POST"> 
                <input name="userName" style="border-radius: 5px" pattern="[a-zA-Z0-9!$#&]+" title="Only letters, numbers, !$#& are allowed" required>
                <button type="submit" style="margin-top: 5px; border-radius:10px">Update Username</button>
            </form>
        </section>
    </section>
</div>

<section class="user-posts">
    <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
    <h2>Your {{{postNeoType}}}s</h2>
    <!-- you'll need to make this conditaionl and #each expression work -->
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                {{> post this user=../user}}
            {{/each}}
        </ul>
    {{else}}
        <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
        <p>You have not posted yet, poster.</p>
    {{/if}}
</section>

<script>
    function confirmDeletion(event) {
        event.preventDefault(); // Prevent the form from submitting
        const userConfirmation = confirm("Are you sure you want to delete your account?");
        if (userConfirmation) {
            event.target.submit(); // If the user confirms, submit the form
        }
    }
</script>